{{ define "main" }}
	<section class="single">
		{{ partial "breadcrumb.html" . }}
		<div class="entrybox">
			<article class="entry block">
				{{- partial "entry/featured.html" (dict "page" . "IsSingle" true) }}
				<header class="entry__header">
					<h1 class="entry__title">{{ .Title }}</h1>
					{{ partial "entry/meta.html" . }}
				</header>
				<div class="entry__content">{{ .Content }}</div>
				{{ if or (isset $.Params "tags") (default .Site.Params.Entry.share .Params.share) }}
				<footer class="entry__footer">
					{{ partial "entry/tags.html" . }}
					{{ partial "entry/share.html" . }}
				</footer>
				{{ end }}
			</article>
			{{ partial "related.html" . }}
			{{ partial "comments.html" . }}
		</div>
	</section>
{{ end }}