body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
}

hr {
	border-top: 1px solid #ddd;
}

abbr {
	border-bottom: 1px dotted;
}

blockquote {
	padding: 1rem;
	background: #fff9dd;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

blockquote footer {
	text-align: right;
}

pre {
	padding: 1rem;
	color: #eee;
	background-color: #222;
}

dfn {
	font-style: italic;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	border-spacing: 0;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

caption {
	font-weight: 600;
}

th {
	font-weight: 700;
	background-color: #eaecf0;
}

td,
th {
	padding: .3125rem .625rem;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.inner {
	max-width: 1200px;
	padding: 1rem 1.375rem;
	margin: 0 auto;
}

.wrapper {
	flex: 1 0 auto;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.block {
	padding: 1rem;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
}

.header {
	flex: 0 0 auto;
	margin-bottom: .25rem;
	color: #8d8d9b;
	background-color: #33333a;
}

.logo {
	font-weight: 600;
	color: #fff;
}

.logo:hover {
	color: #fff;
	text-decoration: none;
}

.main-menu {
	display: block;
	font-size: 0;
	font-weight: 700;
}

.main-nav__btn {
	position: absolute;
	top: .625rem;
	right: 1rem;
	padding: .5rem;
	font-size: 0;
	cursor: pointer;
	background-color: #33333a;
	border: 0;
	fill: #9f9fab;
}

.main-nav__btn:focus,
.main-nav__btn:hover {
	color: #000;
}

.main-nav__btn-icon {
	font-size: 1rem;
}

.main-nav__btn .icon-menu__burger {
	display: inline;
}

.main-nav__btn .icon-menu__x {
	display: none;
}

.main-nav__btn--active .icon-menu__burger {
	display: none;
}

.main-nav__btn--active .icon-menu__x {
	display: inline;
}

.main-nav__list {
	font-size: 0;
}

.main-nav__item {
	padding: .5rem 1.375rem;
	font-size: 1rem;
	font-weight: 600;
	color: #bbb;
	border-bottom: 1px solid #5b5b67;
}

.main-nav__item:first-child {
	border-top: 1px solid #5b5b67;
}

.main-nav__item:last-child {
	border-bottom: 0;
}

.main-nav__item--active {
	color: #fff;
}

.main-nav__link {
	display: block;
	color: #9f9fab;
}

.main-nav__link:hover {
	color: #fff;
}

.main-nav__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.no-js .main-nav__btn {
	display: none;
}

.js .main-nav__list {
	display: none;
}

.main-nav__list.main-nav__list--active {
	position: absolute;
	top: 3.5rem;
	left: 0;
	display: block;
	width: 100%;
	clear: both;
	background-color: #33333a;
	border-bottom: 4px solid #9696a3;
}

@media (min-width: 860px) {
	.logo {
		display: inline-block;
	}

	.js .main-nav__list {
		display: block;
	}

	.main-nav__btn {
		display: none;
	}

	.main-nav {
		display: inline-block;
	}

	.main-nav__item {
		display: inline-block;
		padding: 0 .5rem;
		border: 0;
	}

	.main-nav__item:first-child {
		margin-left: 1rem;
		border: 0;
	}

	.main-nav__list.main-nav__list--active {
		position: initial;
		border: 0;
	}
}

.center {
	text-align: center;
}

.transition {
	transition: all 100ms ease-in;
}

.content {
	flex: 1;
	order: 1;
}

.cards {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	order: 1;
}

.sidecards {
	display: flex;
	flex-wrap: wrap;
	order: 1;
}

.single {
	display: flex;
	flex: 1 0;
	flex-wrap: wrap;
	order: 1;
	min-width: 0;
}

.post {
	display: flex;
	flex: 1 0 0%;
	flex-direction: column;
	width: 100%;
	min-width: 0;
	margin: .25rem;
}

.card {
	display: flex;
	width: 100%;
}

.sidecard {
	display: flex;
	width: 100%;
}

@media screen and (min-width: 696px) {
	.card--2col {
		width: 50%;
	}

	.sidecard {
		width: 50%;
	}

	.card--3col {
		flex: 0 50%;
	}
}

@media screen and (min-width: 860px) {
	.card--3col {
		flex: 0 33.3333%;
	}
}

.card__box {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

.post__featured {
	min-height: 1px; /* Workaround for IE11 flexbox img height bug https://github.com/philipwalton/flexbugs/issues/75 */
	margin: -1rem -1rem 1rem;
}

.featured__figcaption {
	width: 100%;
	padding: .625rem 1rem;
	text-align: left;
	background: #f4f5f7;
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.featured__credit::before {
	content: "© ";
}

.featured__credit {
	font-size: .875rem;
	font-style: normal;
	color: #707070;
}

.post__title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.75rem;
}

.post__title--summary {
	font-size: 1.125rem;
}

.post__title-link {
	display: inline-block;
}

.post__content {
	margin-top: 1rem;
}

.meta {
	font-size: .875rem;
	color: #666;
}

.post__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: .5rem;
	margin: auto 0 0;
	border-top: 1px solid #ccc;
}

.post__tag {
	display: inline-block;
	padding: .125rem .5rem;
	margin: .25rem;
	color: #666;
	background-color: #ededed;
	border-radius: 2px;
}

.post__tag:hover {
	color: #fff;
	text-decoration: none;
	background-color: #222;
}

.post__tags {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: .5rem;
}

.post__share {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: .5rem;
}

.share__link {
	margin: .25rem;
	font-size: 0;
	border-radius: 2px;
}

.share__icon {
	background-color: #bfbfbf;
	border-radius: 2px;
	fill: #fff;
	stroke: #fff;
}

.share__icon--facebook:hover,
.share__icon--facebook:active {
	background-color: #3b5998;
}

.share__icon--twitter:hover,
.share__icon--twitter:active {
	background-color: #1da1f3;
}

.share__icon--reddit:hover,
.share__icon--reddit:active {
	background-color: #f40;
}

.share__icon--telegram:hover,
.share__icon--telegram:active {
	background-color: #34afe3;
}

.share__icon--linkedin:hover,
.share__icon--linkedin:active {
	background-color: #0077b5;
}

.share__icon--gplus:hover,
.share__icon--gplus:active {
	background-color: #dc4639;
}

.share__icon--vk:hover,
.share__icon--vk:active {
	background-color: #5181b8;
}

.share__icon--pocket:hover,
.share__icon--pocket:active {
	background-color: #ef3e56;
}

.post__related {
	flex-basis: 100%;
	flex-shrink: 1; /* ie */
	width: 100%;
	margin: .25rem;
}

.related__list {
	margin-bottom: 0;
}

.taxonomy {
	padding: 1rem;
	margin: .25rem;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
}

.taxonomy__title {
	margin-bottom: 0;
	font-size: 1.5rem;
}

.taxonomy__content {
	margin-top: 1rem;
}

.taxonomy__content--notitle {
	margin: 0;
}

.taxonomy__content p:last-child {
	margin: 0;
}

.page404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pagination {
	margin: .25rem;
}

.pagination__item {
	display: inline-block;
	padding: .25rem .5rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid;
	border-radius: 2px;
}

.pagination__item--gap {
	color: #aaa;
}

.sidebar {
	display: block;
	order: 2;
}

.widget {
	flex: 1;
	margin: .25rem;
}

.widget__title {
	font-size: 1.125rem;
	border-bottom: 2px solid #222;
}

.widget__title-block {
	padding: .25rem;
	color: #fff;
	background: #222;
}

.widget-tags__link {
	display: inline-block;
	padding: .125rem .75rem;
	margin: .25rem;
	color: #666;
	background: #ededed;
	border-radius: 2px;
}

.widget-tags__content {
	margin: 0 -.25rem;
}

.widget-tags__link:hover {
	color: #fff;
	text-decoration: none;
	background-color: #222;
}

.widget__list {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.widget__item {
	padding: .5rem 0;
	border-top: 1px solid #ddd;
}

.widget__item:first-child {
	padding-top: 0;
	border-top: 0;
}

.widget__item:last-child {
	padding-bottom: 0;
}

.widget__link {
	display: inline-block;
}

.widget__meta {
	font-size: .875rem;
	color: #666;
}

@media screen and (min-width: 696px) {
	.wrapper--flex {
		display: block;
	}

	.sidebar {
		display: flex;
		flex-wrap: wrap;
	}

	.post__tags {
		flex: 1 0 65%;
		justify-content: flex-start;
		margin: 0 -.25rem auto;
	}

	.post__share {
		flex: 1 0 35%;
		justify-content: flex-end;
		margin: 0 -.25rem;
	}
}

@media screen and (min-width: 980px) {
	.wrapper--flex {
		display: flex;
	}

	.single {
		flex: 1 0 66.6666%;
	}

	.sidebar {
		display: block;
		flex: 0 0 320px;
	}

	.sidebar--left {
		order: 0;
	}

	.sidecard {
		width: 100%;
	}

	.widget {
		margin: .25rem .25rem .5rem;
	}

	.widget:last-child {
		margin: .25rem;
	}
}

.footer {
	flex: 0 0 auto;
	margin-top: .25rem;
	font-size: .875rem;
	color: #9f9fab;
	background-color: #33333a;
}

.footer a {
	color: #fff;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.footer__copyright {
	flex: 1 0 0;
	flex-basis: 100%;
	justify-content: center;
	order: 1;
	text-align: center;
}

.footer__social {
	display: flex;
	flex: 1 0 0;
	flex-basis: 100%;
	flex-wrap: wrap;
	justify-content: center;
	order: 0;
	margin-bottom: .5rem;
}

@media screen and (min-width: 696px) {
	.footer__copyright {
		flex-basis: 50%;
		justify-content: flex-start;
		order: 1;
		text-align: left;
	}

	.footer__social {
		flex-basis: 50%;
		justify-content: flex-end;
		order: 2;
		margin: 0;
	}
}

.social__link {
	margin: .25rem;
	font-size: 0;
	background-color: #5b5b67;
	border-radius: 2px;
}

.social__link:hover {
	background-color: #848493;
}

.social__icon {
	fill: #33333a;
	stroke: #33333a;
}
